html {

}

body {
    display: block;
    width: auto;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
  }

header {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px 32px 24px;
}

#logo {
    display: flex;
    align-items: center;
}

img.ic-logo {
    width: 100px;
    height: auto;
}

.text-logo {
    font-size: larger;
}

.nav-links {
    display: flex;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    display: flex;
    justify-content: flex-end;
    margin: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

section {
  
}

section.banner {
    background-color: gray;
    justify-content: center;
    position: relative;
    padding: 32px 24px 32px 24px;
}

.banner-image {
    display: flex;
    flex-direction: row;
}

.banner-description {
    margin: auto 0;
    padding-left: 50px;
    width: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    display: flex;
    text-align: center;
    padding: 8px 16px;
}

.info {
    display: flex;
    background-color: white;
}

.featured-article {
    display: inline-block;
    text-align: justify;
}

section.articles-side section.card {
    display: flex-box;
}

.card {
    display: flex;
    flex-direction: row;
}

.card-gray {
    display: flex;
    flex-direction: row;
    background-color: gray;
}

h1.learning-title {
    text-align: center;
}

.top-row {
    display: flex;
    justify-self: center;
}

.card-description {
    vertical-align: baseline;
}

.bottom-row {
    display: flex;
    justify-self: center;
}



.thesis {
    display: flex;
}

h1.thesis-title {
    text-align: center;
}

.thesis-video {
    display: inline;
}

.thesis-video video {
    width: 50%;
}

.articles-side2 {
    display: flex;
    flex-direction: column;
}